{% extends 'base.html' %}
{% block title %}
Book Now
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Booking</title>
</head>
<body>
    {% block content %}
    <div class="flex items-center justify-center p-12">
        {% if user.profile.user_type == 'landlord' %}
            <div class="bg-gray-100 rounded-lg shadow-md p-4">
                <h3 class="text-xl font-semibold mb-2">Sorry, landlords cannot book properties.</h3>
                <p class="text-lg">You are a landlord, and booking a property is not allowed for you.</p>
                <a href="{% url 'property' %}" class="text-blue-500 underline mt-4">Go back to Property List</a>
            </div>
        {% else %}
            <div class="bg-gray-100 rounded-lg shadow-md p-4">
                <!-- Image -->
                <div class="mb-4">
                    <img src="{{ property.image_1.url }}" alt="property Image" class="w-64 h-auto rounded-lg shadow-2xl">
                </div>
                <div>
                  <h3 class="text-xl font-semibold mb-2">Booked Apartment</h3>
                  <div class="flex flex-col">
                      <p><span class="font-semibold">Property Name:</span> {{ property.name }}</p>
                      <p><span class="font-semibold">Price:</span> {{ property.price }} lac</p>
                      <p><span class="font-semibold">Area:</span> {{ property.sqft }} sqft</p>
                      <p><span class="font-semibold">Address:</span> {{ property.address }}</p>
                  </div>
              </div>
          </div>
          <div>
            <a href="{% url 'booking_success' property.id %}" class="hover:shadow-form w-full rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none">CONFIRM BOOKING</a>
        
        </div>
    </form>
</div>
{% endif %}
{% endblock %}
</body>
</html>