<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'add_user'%}">add user</a>
    <br>

    {% for i in user %}
      {{ i.username }}
      <br>
      {{ i.password }}
      <br>
      {% if i.profile_image %}
    <img src="{{ i.profile_image.url }}" alt="hasib" width="400">
     {% else %}
    <p>No profile image available.</p>
     {% endif %}


    <br>
     <a href="{% url 'update_user' i.id %}">update</a>
    <br>
    <a href="{% url 'delete_user' i.id %}">delete</a>
    <br>
     



    {% endfor%}

    
</body>
</html>